@import "tailwindcss";

@font-face {
    font-family: "plantagenet-cherokee";
    src: url('./fonts/PlantagenetCherokee.ttf') format('truetype');
}

.text-font{
    font-family: 'plantagenet-cherokee', sans-serif;
}

/* Hide the arrows for input type number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
